@import '../../assets/styles/_config.scss';

.item {
    display: flex;
    border-bottom: 3px solid $item-border;
    color: $item-text;
    background-color: rgba(146, 215, 225, 0.3);
    border-radius: 0.5rem;
    font-size: 1.3rem;
}


.item:hover {
    background-color: rgba(24, 200, 184, 0.3);
    border-radius: 0.5rem;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: $item-padding;

}

.item_personality, .item_series {
    color: #0d5c55;
    //padding-top: 2.75rem;
}

.item_birthday {
    color:  #f598a4;
    padding-top: 1rem;
}

.item_species {
    font-weight: bold;
    color: $item-text-strong;
}


 .item_fname {
    text-shadow: 1px 1px 4px rgba(61, 61, 61, 0.808);
}


.item_edit {
    max-width: $item-edit-width;
    min-width: $item-edit-width;
    background-color: $item-edit-background;
    color: $item-edit-text;
    display: none;
    justify-content: center;
    align-items: center;
}

.item_edit a {
    color: $item-edit-text;
}

.item:hover .item_edit {
    display: flex;

}