@import '../../assets/styles/config.scss';


.settings {
    padding: $container-padding;
    color: #0d5c55;
}
.settings h2 {
    color: #f598a4;
}

.settings h3 {
    margin-top: 0.5rem;
    color: #0d5c55;
}

.settings_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings_user {
    display: flex;
    align-items: center;
}

.settings_user img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem;
}

.settings_species, .settings_series {
    display: inline;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.settings_species, .settings_series > div {
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.settings_species > div:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

.settings_series > div:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

.typeform {
    display: flex;
    margin-top: 0.5rem;
}

.typeform input {
    flex: 1 1 auto;
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: 1em;
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    caret-color: blueviolet;
    color: #0d5c55;
}
