@import '../../assets/styles/_config.scss';


.header {
    //background-color: $header-background;
    color: $header-text;
    text-shadow: 4px 0px 0px rgb(129, 94, 38);
    max-height: $header-height;
    min-height: $header-height;
    font-size: $header-fontsize;
    //text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;


}

/*.header {
    background-color: $header-background;
    color: $header-text;
    max-height: $header-height;
    min-height: $header-height;
    font-size: $header-fontsize;
    display: flex;
    justify-content: center;
    align-items: center;


}*/