$container-padding: 2rem;  

$header-text: #f7c63a;
$header-height: 4rem;
$header-fontsize: 3rem;  

$scrollbar-track: #ffffff59;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 1rem;

$item-border: #ffffff6c;
$item-text: #eaff70;
$item-text-strong: #3b3b3b;
$item-padding: 2rem;
$item-edit-background:  rgba(24, 200, 185, 0.438);
$item-edit-text: #ffffff;
$item-edit-width: 2rem;

$menu-background: #000000;
$menu-text: #ffffff;
$menu-height: $header-height;

$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #b09ac9;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.2rem;
$form-label-fontsize: 1.2rem;
$form-label-margin-bottom: 0.5rem;


